body{
    width: 90%;
    margin: auto;
    background:
    url(../images/TopBackground.png) no-repeat top/100%,
    url(../images/BottomBackground.png) no-repeat bottom/100%,
    #D5E6ED;
}

h1{
    font-size: 1.5rem;
}

p{
    padding: 0 1rem ;
}