.titleBar{
    display: flex;
    background-color: #F8AB87;
}

.titleIcon{
    margin: 0 2rem 0 1rem;
    width: 3rem;
}

.resultBlock{
    border-bottom: 2px solid gray;
}

.code_descr_block{
    display: flex;
    margin: 1rem;
    background-image: url(../images/Block.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.code_descr_icon{
    margin: 0 2rem 0 1rem;
    width: 3rem;
}

#meetypeIcon{
    position: absolute;
    height: 1rem;
    bottom:0;
    right:0;
}

#scoreBlock {
    display: flex;
}
#radarChartContainer {
    margin: 10px auto;
    width: 400px;
    height: 300px;
    border: 2px solid gray;
    background-color: white;
    position: relative;
}

#userSelection{
    width: 40%;
}

@media (max-width: 361px) {
    #scoreBlock{
        display: block;
    }

    #radarChartContainer {
        margin: auto;
        width: 100%;
    }
    #userSelection{
        width: 100%;
    }
}